<%- include("partials/header"); -%>
<div class="container">
    <h1>This is user data</h1>
    </div>
    <hr>
    <% if(details!=null) { %>
    <table>
    <tr>
        <th>Name</th>
        <th>Email </th>
        <th>UserRole</th>
    </tr>
    <% details.forEach(function(item){ %>
    <tr>
        <td><%= item.name%></td>
        <td><%= item.email %></td>
        <td><%= item.userRole%></td>
    </tr>
    <% }) %>
    </table>
    <% } %>
<%- include("partials/footer"); -%>
